# build artifacts
.cache/
build/
DEBIAN/postinst
DEBIAN/prerm
RPM/
include/rdc/rdc64Config.h

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
docBin/
docs/_doxygen/

# VisualStudioCode
.vscode

# do NOT ignore these files
!.clang-format
!.editorconfig
!.cmake-format
!.pre-commit-config.yaml

# misc
__pycache__/
authentication/CA/

# act
act.variables
act.secrets
